################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/dataBase.sql
/Products.mdf
/Products_log.mdf
