<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<configSections>
			<appsettings>
				<add key ="ConnectionString" value = "Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\admin\\Downloads\\Products.mdf;Integrated Security=True;Connect Timeout=30"/>
			</appsettings>
		</configSections>
</configuration>

