<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<configSection>
		<connetionsStrings>
			<add name="TestBD"
			connetionString = "Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\admin\\source\\repos\\DanylaKH\\WorkWithDataBase\\WorkWithDataBasw\\Products.mdf;Integrated Security=True" />
		</connetionsStrings>
		</configSection>
</configuration>

